.btn-treehouse{
  padding: 13px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
  display: inline-block;
  margin: 10px;

}

.btn-treehouse:hover {
  background-color: rgb(5, 73, 5);
}
